body {
  font-family: sans-serif;
  background-color: rgb(148, 212, 255);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 50px;
}

.title-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#title-text {
  display: flex;
  justify-content: center;
  color: yellow;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Bangers", cursive;
  font-size: 40px;
  letter-spacing: 5px;
}

#grid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 400px;
  flex-wrap: wrap;
}

.card {
  border: 5px solid white;
  background-color: lightgreen;
  border-radius: 7px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 100px;
  height: 140px;
  cursor: pointer;
}

.card-chosen {
  border: 5px solid black;
  border-radius: 7px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 100px;
  height: 140px;
}

.info-area {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-left: auto;
}

#resetBtn {
  background-color: rgb(247, 251, 7);
  color: orangered;
  padding: 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px red;
}

#switchCardSetBtn {
  background-color: lightblue;
  color: black;
  padding: 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px darkblue;
}

#result-label {
  margin-left: 50px;
  width: 20%;
  color: darkslategrey;
}

#attempts-label {
  width: 300px;
  color: darkslategrey;
}

#info {
  margin: 0;
  display: flex;
  justify-content: center;
}
