body {
  font-family: sans-serif;
  background-color: rgb(148, 212, 255);
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* margin-left: 50px; */
}

.title-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#title-text {
  display: flex;
  justify-content: center;
  color: yellow;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Bangers", cursive;
  font-size: 40px;
  letter-spacing: 5px;
}

#grid {
  padding-top: 50px;
  display: block;
  margin-left: 460px;
  margin-right: auto;
  width: 1000px;
  height: 400px;
  flex-wrap: wrap;
}

.card {
  border: 5px solid white;
  background-color: lightgreen;
  border-radius: 7px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 100px;
  height: 140px;
  cursor: pointer;
}

.card-chosen {
  border: 5px solid black;
  border-radius: 7px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 100px;
  height: 140px;
}

.info-area {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

#resetBtn {
  background-color: rgb(247, 251, 7);
  color: orangered;
  padding: 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px red;
  margin: 40px;
}

#switchCardSetBtn {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  color: white;
  padding: 25px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px darkblue;
  text-align: center;
  text-transform: uppercase;
  margin: 40px;
}


#result-label {
  color: darkslategrey;
  margin: 60px 40px 60px 40px;
}

#attempts-label {
  color: darkslategrey;
  margin: 60px 40px 60px 40px;
}

#info {
  font-size: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
}
